{% extends "base.html" %}

{% block headtags %}
<script type="text/javascript" src="/media/js/system.js"></script>
<link rel="stylesheet" type="text/css" href="/media/css/system.css" />
{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>

    <div class="block_content">
        <form action="/system/create_or_view_ping/" method="post" id="form_ping">
            <p>
                <label for="ip">IP ou domínio:</label><br/>
                <input type="text" name="ip" value="" class="text small" id="ip" />
                <button type="submit" class="css3button big positive" value="Executar">Executar</button>
                <input type="hidden" name="type" value="{{type}}" id="type" />
            </p>
        </form>
        
        <p id="mensagem" class="hidden"></p>

    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
