ul.file_lists { border: solid 1px;
				background: #FEFCC6;
				padding: 10px;
				height: 200px;
				overflow: auto;
				white-space: nowrap;}
span.listed_file {background: url("/media/icons/40.png") no-repeat;
				  padding-left: 40px;}
span.added_file {background: url("/media/icons/41.png") no-repeat;
				  padding-left: 40px;}
div.filebox {position: relative;
			 width: 48%;
			 margin-bottom: 10px;}
.file_lists li {cursor:pointer;}
div.searchbox {float: right;}
div.navigatebox {float: left;}
input#pattern {width: 260px;
			   font-size: 13px;}
.filebox p {height: 30px;}
.next_step {float: right;}
.last_step {float: left;}
#file_list_to_restore li {padding-left: 40px;}