<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>{% block title %}{% endblock %} Nimbus</title>

	<link rel="icon" type="image/x-icon" href="/media/images/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="/media/images/favicon.ico" />

	<link rel="stylesheet" type="text/css" href="/media/lib/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/media/lib/css/jquery.filetree.css" />
	<link rel="stylesheet" type="text/css" href="/media/lib/css/facebox.css" />
	<link rel="stylesheet" type="text/css" href="/media/lib/css/date_input.css" />
	<link rel="stylesheet" type="text/css" href="/media/js/iphone-style-checkboxes/style.css" />
	<link rel="stylesheet" type="text/css" href="/media/js/progressbar/jquery.ui.all.css" />

	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=7" /><![endif]-->
	<!--[if lt IE 8]>
		<link rel="stylesheet" type="text/css" href="/media/lib/css/ie.css" />
	<![endif]-->
	<!--[if IE]><script type="text/javascript" src="/media/lib/js/excanvas.js"></script><![endif]-->

	<script type="text/javascript" src="/media/lib/js/jquery.js"></script>
    <script type="text/javascript" src="/media/main.js"></script>
    <script type="text/javascript" src="/media/lib/js/jquery.filestyle.mini.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.date_input.pack.js"></script>
	<script type="text/javascript" src="/media/lib/js/facebox.js"></script>
	<script type="text/javascript" src="/media/lib/js/ajaxupload.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.pngfix.js"></script>
	<script type="text/javascript" src="/media/lib/js/jquery.filetree.js"></script>
	<script type="text/javascript" src="/media/js/iphone-style-checkboxes/jquery/iphone-style-checkboxes.js"></script>
	<script src="/media/js/progressbar/jquery.ui.core.min.js" type="text/javascript"></script>
	<script src="/media/js/progressbar/jquery.ui.widget.min.js" type="text/javascript"></script>
	<script src="/media/js/progressbar/jquery.ui.progressbar.min.js" type="text/javascript"></script>
	<script src="/media/js/jquery.maskedinput-1.2.2.min.js" type="text/javascript"></script>

	{% block headtags %}{% endblock %}

	<script type="text/javascript" src="/media/lib/js/custom.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/css/base_async.css" />
</head>
<body>
	<div id="hld">
		<div class="wrapper async">
            {%block content%}
            {%endblock%}

            {%block page%}
            {%endblock%}
		</div>
	</div>

</body>
</html>
<!-- Localized -->

