{% extends 'base.html' %}


{% block content %}

    	<div class="block">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
    			<h2>Estatísticas</h2>
			
    		</div>		<!-- .block_head ends -->
		
    		<div class="block_content">

                {% with table1 as table %}
			        {% include "table_chart.html" %}
			    {% endwith %}

                {% with table2 as table %}
			        {% include "table_chart.html" %}
			    {% endwith %}
		
    		</div>		<!-- .block_content ends -->
		
    		<div class="bendl"></div>
    		<div class="bendr"></div>
    	</div>		<!-- .block ends -->
	
	
	

        {% if 0 %}


	
	
	
    	<div class="block small smaller left" id="horizontal_menu">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
    			<h2>Menu</h2>
			
    		</div>		<!-- .block_head ends -->
		
		
		
    		<div class="block_content">
		
    			<ul class="menu">
    			   <li><a href="#">Visão geral</a></li>
    			</ul>
			
    			<p>Grupo de computadores</p>
			
    		</div>		<!-- .block_content ends -->
		
    		<div class="bendl"></div>
    		<div class="bendr"></div>
		
    	</div>		<!-- .block.small.left ends -->
	
	
	
	
	
	
    	<div class="block big right">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
    			<h2>Conteúdo</h2>	
			
    			<form action="" method="post">
    				<input type="text" class="text" value="Buscar" />
    			</form>
			
    		</div>		<!-- .block_head ends -->
		
		
		
    		<div class="block_content">
		
    			<div id="filetree"></div>
			
    		</div>		<!-- .block_content ends -->
		
    		<div class="bendl"></div>
    		<div class="bendr"></div>
		
    	</div>		<!-- .block.small.left ends -->
	
	
	
	
	
    	<div class="clear"></div>
	
	
	
	
	
	
	
	
	
	
    	<div class="block">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
    			<h2>Formulários</h2>

    		</div>		<!-- .block_head ends -->
		
		
		
    		<div class="block_content">
		
    			<div class="message errormsg"><p>Aqui será uma mensagem de erro.</p></div>
			
    			<div class="message success"><p>Aqui será uma mensagem de sucesso.</p></div>
			
    			<div class="message info"><p>Aqui será uma mensagem apenas informativa.</p></div>
			
    			<div class="message warning"><p>Aqui será uma mensagem de alerta.</p></div>
			
			
    			<form action="" method="post">
    				<p>
    					<label>Campo de texto pequeno:</label><br />
    					<input type="text" class="text small" /> 
    					<span class="note">Aqui terá um texto de ajuda</span>
    				</p>
				
    				<p>
    					<label>Campo de texto médio:</label><br />
    					<input type="text" class="text medium error" /> 
    					<span class="note error">Erro!</span>
    				</p>
				
    				<p>
    					<label>Campo de texto grande:</label><br />
    					<input type="text" class="text big" />
    				</p>
				
    				<p>
    					<label>Campo de texto multi-linha:</label><br />
    					<textarea class="wysiwyg"></textarea>
    				</p>
				
    				<p>
    					<label>Data inicial:</label> 
    					<input type="text" class="text date_picker" />
    					&nbsp;&nbsp;
    					<label>Data final:</label> 
    					<input type="text" class="text date_picker" />
    				</p>
				
				
    				<p><label>Campo de seleção:</label> <br />
				
    					<select class="styled">
    						<optgroup label="Grupo 1">
    							<option>Primeira opção</option>
    							<option>Segunda opção</option>
    							<option>Terceira opção</option>
    						</optgroup>
						
    						<optgroup label="Grupo 2">
    							<option>Primeira opção</option>
    							<option>Segunda opção</option>
    							<option>Option three</option>
    						</optgroup>
						
    						<optgroup label="Grupo 3">
    							<option>Primeira opção</option>
    							<option>Segunda opção</option>
    							<option>Terceira opção</option>
    						</optgroup>							
    					</select></p>
				
										
    				<p class="fileupload">
    					<label>Campo de upload de arquivo:</label><br />
    					<input type="file" id="fileupload" />
    					<span id="uploadmsg">Tamanho máximo 3MB</span>
    				</p>
																
    				<p>
    					<input type="checkbox" class="checkbox" checked="checked" id="cbdemo1" /> <label for="cbdemo1">Checkbox 1</label> 
    					<input type="checkbox" class="checkbox" id="cbdemo2" /> <label for="cbdemo2">Checkbox 2</label>
    				</p>
				
    				<p>
    				    <input type="radio" name="radio" checked="checked" class="radio" /> <label>Radio 1</label>
    				    <input type="radio" name="radio" class="radio" /> <label>Radio 2</label>
    				    <input type="radio" name="radio" class="radio" /> <label>Radio 3</label>
    				</p>
										
    				<hr />
				
    				<p>
    					<input type="submit" class="submit small" value="Enviar" />
    					<input type="submit" class="submit mid" value="Botão médio" />
    					<input type="submit" class="submit long" value="Botão maior" />
    				</p>
    			</form>
			
			
    		</div>		<!-- .block_content ends -->
		
    		<div class="bendl"></div>
    		<div class="bendr"></div>
			
    	</div>		<!-- .block ends -->


	
	
	
	
	
	
	
	
	
	
	
	
    	<div class="block small left">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
    			<h2>Coluna Esquerda</h2>	
    		</div>		<!-- .block_head ends -->
		
		
		
    		<div class="block_content">
		
    			<form action="" method="post">
    				<p>
    					<label>Campo de texto pequeno:</label><br />
    					<input type="text" class="text" />
    				</p>
				
    				<p>
    					<label>Campo de texto multi-linha:</label><br />
    					<textarea rows="5" cols="50"></textarea>
    				</p>
				
    				<p>Clicando em enviar você aceita os termos presentes na EULA.</p>
				
    				<p><input type="submit" class="submit small" value="Enviar" /></p>
    			</form>
			
    		</div>		<!-- .block_content ends -->
		
    		<div class="bendl"></div>
    		<div class="bendr"></div>
		
    	</div>		<!-- .block.small.left ends -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
    	<div class="block small right">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
    			<h2>Coluna direita</h2>
    		</div>		<!-- .block_head ends -->
		
		
		
    		<div class="block_content">
		
    			<h2>Título principal</h2>
    			<p>Quisque felis nunc, <a href="demo/index.html" rel="facebox">open modal</a> lacinia at, viverra sit amet ligula. Praesent justo risus, suscipit eget volutpat ac, fermentum ac massa. Sed at justo velit. Maecenas dapibus sem nec quam cursus.</p>
			
			
    			<h3>Título secundário</h3>
    			<ul>
    				<li>Proin volutpat</li>
    				<li>Praesent justo risus, suscipit eget</li>
    				<li>Morbi facilisis felis ac sapien</li>
    			</ul>
			
			
    			<h4>Título terceiro</h4>
    			<ol>
    				<li>Proin volutpat</li>
    				<li>Praesent justo risus, suscipit eget</li>
    				<li>Morbi facilisis felis ac sapien</li>
    			</ol>
			
    		</div>		<!-- .block_content ends -->
		
    		<div class="bendl"></div>
    		<div class="bendr"></div>
		
    	</div>		<!-- .block.small.right ends -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
    	<div class="block">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
    			<h2>Grande área com tabs</h2>
			
    			<ul class="tabs">
    				<li><a href="#tab1">Tab 1</a></li>
    				<li><a href="#tab2">Tab 2</a></li>
    			</ul>
    		</div>		<!-- .block_head ends -->
		
		
		
    		<div class="block_content tab_content" id="tab1">
			
    			<h3>Aqui é a primeira aba</h3>
			
    			<p>Maecenas facilisis interdum rhoncus. Sed laoreet vulputate lacus sit amet aliquam. Praesent vitae sapien orci. Mauris nec purus in mi accumsan convallis non et lorem. Nunc tincidunt consequat risus, ac tincidunt nibh hendrerit at. Nullam sit amet nisi eget magna lacinia ullamcorper non sed sem. Ut ornare consequat commodo. Donec vitae justo risus. Nulla ornare posuere egestas. Nulla varius purus quis lacus placerat tincidunt.</p>
			
    		</div>		<!-- .block_content ends -->
		
		
		
    		<div class="block_content tab_content" id="tab2">
		
    			<h3>Esta é a segunda aba</h3>
		
    			<p>Praesent vitae sapien orci. Mauris nec purus in mi accumsan convallis non et lorem. Nunc tincidunt consequat risus, ac tincidunt nibh hendrerit at. Nullam sit amet nisi eget magna lacinia ullamcorper non sed sem. Ut ornare consequat commodo. Donec vitae justo risus. Nulla ornare posuere egestas. Nulla varius purus quis lacus placerat tincidunt. Maecenas facilisis interdum rhoncus. Sed laoreet vulputate lacus sit amet aliquam.</p>
			
    		</div>		<!-- .block_content ends -->
		
    		<div class="bendl"></div>
    		<div class="bendr"></div>
		
    	</div>		<!-- .block ends -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
    	<div class="block withsidebar">
	
    		<div class="block_head">
    			<div class="bheadl"></div>
    			<div class="bheadr"></div>
			
    			<h2>Grande área com barra lateral</h2>
    		</div>		<!-- .block_head ends -->
		
		
		
    		<div class="block_content">
			
    			<div class="sidebar">
    				<ul class="sidemenu">
    					<li><a href="#sb1">Subpágina um</a></li>
    					<li><a href="#sb2">Subpágina dois</a></li>
    					<li><a href="#sb3">Subpágina três</a></li>
    				</ul>
				
    				<p><strong>Use as páginas acima para navegar.</strong> Donec hendrerit porttitor felis, id semper eros lobortis sed. Class aptent taciti sociosqu ad litora.</p>
    			</div>		<!-- .sidebar ends -->
			
    			<div class="sidebar_content" id="sb1">
    				<h3>Conteúdo da subpágina um</h3>
			
    				<p>Aenean facilisis ligula eget orci adipiscing varius. Curabitur sem ligula, egestas vel bibendum sed, sodales eu nulla. Vestibulum luctus aliquam feugiat. Donec porta interdum placerat. Donec velit enim, porta vitae euismod ut, fermentum eu felis. Morbi aliquet, libero vel gravida facilisis, enim risus consequat tellus, vitae luctus est diam non nisi. Vivamus eget leo sit amet neque ultricies blandit. Sed tristique erat a sem ullamcorper tempor. Curabitur turpis lorem, semper et pharetra in, scelerisque in magna. Ut at tortor sed diam mattis rhoncus vel eget turpis. Praesent id diam velit, ullamcorper semper augue. Curabitur at orci tellus, sed tincidunt enim. Vivamus sed dolor vitae purus dignissim luctus quis sed nunc. Sed urna enim, auctor sit amet volutpat ut, porta sed leo. Integer dictum molestie elementum. Nullam dapibus tempus enim, id tincidunt arcu elementum varius.</p>

    				<p>Integer malesuada posuere nibh, ac commodo eros dictum eget. Maecenas vel urna ac sapien posuere tincidunt vel non metus. Morbi accumsan lectus at ante scelerisque molestie. Pellentesque in quam arcu, in lacinia orci. Sed blandit, neque sed ullamcorper lacinia, velit lectus lacinia lorem, id gravida sem arcu vel purus. Aenean tellus massa, elementum id condimentum ut, tempus ac dui. Integer consectetur neque placerat leo adipiscing iaculis. Vivamus tempor dui eu augue malesuada dignissim. In tempor odio eu augue ultricies ut hendrerit.</p>
    			</div>		<!-- .sidebar_content ends -->
			
			
    			<div class="sidebar_content" id="sb2">
    				<h3>Conteúdo da subpágina dois</h3>
			
    				<p>Integer malesuada posuere nibh, ac commodo eros dictum eget. Maecenas vel urna ac sapien posuere tincidunt vel non metus. Morbi accumsan lectus at ante scelerisque molestie. Pellentesque in quam arcu, in lacinia orci. Sed blandit, neque sed ullamcorper lacinia, velit lectus lacinia lorem, id gravida sem arcu vel purus. Aenean tellus massa, elementum id condimentum ut, tempus ac dui. Integer consectetur neque placerat leo adipiscing iaculis. Vivamus tempor dui eu augue malesuada dignissim. In tempor odio eu augue ultricies ut hendrerit.</p>
			
    				<p>Aenean facilisis ligula eget orci adipiscing varius. Curabitur sem ligula, egestas vel bibendum sed, sodales eu nulla. Vestibulum luctus aliquam feugiat. Donec porta interdum placerat. Donec velit enim, porta vitae euismod ut, fermentum eu felis. Morbi aliquet, libero vel gravida facilisis, enim risus consequat tellus, vitae luctus est diam non nisi. Vivamus eget leo sit amet neque ultricies blandit. Sed tristique erat a sem ullamcorper tempor. Curabitur turpis lorem, semper et pharetra in, scelerisque in magna. Ut at tortor sed diam mattis rhoncus vel eget turpis. Praesent id diam velit, ullamcorper semper augue. Curabitur at orci tellus, sed tincidunt enim. Vivamus sed dolor vitae purus dignissim luctus quis sed nunc. Sed urna enim, auctor sit amet volutpat ut, porta sed leo. Integer dictum molestie elementum. Nullam dapibus tempus enim, id tincidunt arcu elementum varius.</p>
    			</div>		<!-- .sidebar_content ends -->
			
			
    			<div class="sidebar_content" id="sb3">
    				<h3>Conteúdo da subpágina três</h3>
			
    				<p>Aenean facilisis ligula eget orci adipiscing varius. Curabitur sem ligula, egestas vel bibendum sed, sodales eu nulla. Vestibulum luctus aliquam feugiat. Donec porta interdum placerat. Donec velit enim, porta vitae euismod ut, fermentum eu felis. Morbi aliquet, libero vel gravida facilisis, enim risus consequat tellus, vitae luctus est diam non nisi. Vivamus eget leo sit amet neque ultricies blandit. Sed tristique erat a sem ullamcorper tempor. Curabitur turpis lorem, semper et pharetra in, scelerisque in magna. Ut at tortor sed diam mattis rhoncus vel eget turpis. Praesent id diam velit, ullamcorper semper augue. Curabitur at orci tellus, sed tincidunt enim. Vivamus sed dolor vitae purus dignissim luctus quis sed nunc. Sed urna enim, auctor sit amet volutpat ut, porta sed leo. Integer dictum molestie elementum. Nullam dapibus tempus enim, id tincidunt arcu elementum varius.</p>

    				<p>Integer malesuada posuere nibh, ac commodo eros dictum eget. Maecenas vel urna ac sapien posuere tincidunt vel non metus. Morbi accumsan lectus at ante scelerisque molestie. Pellentesque in quam arcu, in lacinia orci. Sed blandit, neque sed ullamcorper lacinia, velit lectus lacinia lorem, id gravida sem arcu vel purus. Aenean tellus massa, elementum id condimentum ut, tempus ac dui. Integer consectetur neque placerat leo adipiscing iaculis. Vivamus tempor dui eu augue malesuada dignissim. In tempor odio eu augue ultricies ut hendrerit.</p>
    			</div>		<!-- .sidebar_content ends -->
								
    		</div>		<!-- .block_content ends -->

		
    		<div class="bendl"></div>
    		<div class="bendr"></div>
		
    	</div>		<!-- .block ends -->


        {% endif %}

{% endblock %}