{% block headtags %}

{% endblock %}

{% block content %}
<h2>Olha, n&atilde;o est&aacute; dando certo pra mim...</h2>
<br />
<p>O problema n&atilde;o &eacute; voc&ecirc;, mas existe um <strong>navegador</strong> entre n&oacute;s.</p>
<p>O seu navegador n&atilde;o suporta v&aacute;rias funcionalidades oferecidas pelo Nimbus.<br />
&Eacute; poss&iacute;vel usar o sistema com o seu navegador, mas n&atilde;o se frustre<br />
quando o Nimbus n&atilde;o se comportar como deveria.</p>
<p>Fa&ccedil;a o download de um desses navegadores:</p>
<ul class="styled-list">
    <li><a href="http://www.mozilla.com/en-US/firefox/new/" target="_blank" class="minibutton"><span>Mozilla Firefox</span></a></li>
    <li><a href="http://www.google.com/chrome/intl/en/make/download-mac.html?brand=CHKZ" target="_blank" class="minibutton"><span>Google Chrome</span></a></li>
</ul>
<br />
<p>Com eles garantimos o perfeito funcionamento do sistema, <br />e fazemos isso porque apoiamos
iniciativas de software livre.</p>
<p>Caso deseje reportar bugs ou sugerir melhorias, consulte o nosso <a href="http://forum.nimbusbackup.com/">f&oacute;um</a><br />
e ajude a melhorar o Nimbus.</p>

{% endblock %}
