{% extends "base.html" %}

{% block headtags %}
<script type="text/javascript" src="/media/lib/js/tree_plugin.js"></script>
<script type="text/javascript" src="/media/js/filesets.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#id_filepath-computer").change(function(){
        //alert(this.value);
        $("#computer_id").val(this.value);
    });
});
</script>
<style type="text/css">
label{display: block;}
/* All select elements on page */
select {
  position: relative;
}

/* Style by class. Effects the text of the contained options. */
select.style-select {
    padding: 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 300px;
}
</style>
{% endblock %}

{% block page %}
<div id="fileset" class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>		<!-- .block_head ends -->
	<div class="block_content">
	    
        <form action="" method="post">
            {% for form in forms %}
            <p>
                <label>{{ form.name.label }}:</label>{{ form.name }}
            </p>
            {% endfor %}
            {% for form in formsets %}
            <p>
                <label>{{ form.computer.label }}:</label>{{ form.computer }}
            </p>
            {% endfor %}
            
            {% if errors.computer_id %}
            <ul class="errorlist">
                <li>{{ errors.computer_id }}</li>
            </ul>
            {% endif %}
            <input type="hidden" name="computer_id" id="computer_id" value="" />
            <p>
				<div id="mensagem_erro_fileset"></div>
				
                <ul class="tree"><li class="directory first"><span><a href="#" path="/">Arquivos</a></span></li></ul>
            </p>
            <p></p>
            <p>
                <button type="submit" class="css3button big positive" value="Salvar">Salvar</button>
            </p>
        </form>

	</div>		<!-- .block_content ends -->
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>		<!-- .block ends -->

{% endblock %}