{% block headtags %}
<script type="text/javascript" src="/media/js/filesets.js"></script>
<script type="text/javascript" src="/media/js/veezortree.js"></script>
<link rel="stylesheet" type="text/css" href="/media/css/veezortree.css"/>
{% endblock %}

{% block page %}
<div id="fileset" class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{ title }}</h2>
	</div>		<!-- .block_head ends -->
	<div class="block_content">
        <form action="/filesets/{{ fileset.id }}/do_edit/" method="post" id="main_form">
			<input type="hidden" value="{{ computer.id }}" id="computer_id" />
			{{deletes_form.management_form}}
			<h2>Remover arquivo atuais:</h2>
            <!--  FIX-ME tableless -->
            <div>
                <div class="float_left fileset_checkbox">Apagar</div><div class="float_left fileset_input">Arquivo</div>
                <br class="clear" />
				{% for form in deletes_form.forms %}
                <div class="fileset_line"><div class="float_left fileset_checkbox">{{form.DELETE}}</div><div class="float_left fileset_input">{{form.path}} {{form.id}}{{form.fileset}}</div></div>
			    <br class"clear" />
                {% endfor %}
		    </div>
            <hr />
			<h2>Adicionar novos aquivos:</h2>
			<ul id="arvore1" class="veezortree" restore="false" destination="false" computer="{{computer.id}}" is_windows="{% if computer.operation_system == "windows" %}true{% else %}false{% endif %}"></ul>
			<p>
			<label>{{fileset_form.name.label}}: </label>{{ fileset_form.name }}
			</p>
			<p class="hidden">
			<label>{{fileset_form.is_model.label}}: </label>{{ fileset_form.is_model }}
			</p>
			<hr />
			<p>
                <button type="button" class="css3button" id="submit_button" value="Salvar">Salvar</button>
            </p>
        </form>
	</div>		<!-- .block_content ends -->
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>		<!-- .block ends -->

{% endblock %}
