Package: nimbus
Priority: optional
Version: 1.1.3-f7afcca4bf399a0c2c257fe0f9c030dc447d1e00
Architecture: i386
Maintainer: Veezor
Depends: nimbus-dependencies (>= 0.9), postgresql-8.4, nginx, python-pkg-resources, python-setuptools
Description: Nimbus Backup System
