{% extends "base.html" %}

{% block headtags %}
<link rel="stylesheet" type="text/css" href="/media/css/computers.css" />
<script type="text/javascript" src="/media/js/computers.js"></script>
{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>		<!-- .block_head ends -->

    <div class="block_content">
        <p><a href="/computers/list" class="css3button positive">Listar computadores</a></p>
        <p>Clique no botão ativar ao lado do computador desejado para torná-lo uma máquina ativa no Nimbus.</p>
        <div class="computers">
        {% for comp in computers %}
            <div class="computer {% if not comp.active %}desativado{% endif %}">
                <div class="left">
                    <div class="title">
                        <img src="/media/icons/computer.png" alt=""/>
                        <h3 class="name">{{comp.name}}</h3>
                        <small class="ip">{{comp.address}} - {{comp.operation_system|title}}</small>
                        <p class="options">
                            <a href="/computers/{{comp.id}}/edit_no_active/" class="css3button pill positive">Editar</a>
                            <a href="/computers/{{comp.id}}/delete/" class="css3button pill negative">Remover</a>
                        </p>
                    </div>
                </div>
                <div class="right">
                    <div class="floatright">
                        <a href="/computers/{{comp.id}}/activate/" class="css3button positive big">Ativar</a>
<!--                         <a href="/computers/{{comp.id}}/configure/" class="css3button positive big">Reconfigurar</a> -->
{#                        <form action="/computers/{{comp.id}}/activate/" method="post" class="floatright">#}
{#                            <button type="submit" class="css3button positive" value="Ativar">Ativar</button>#}
{#                        </form>#}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        {% empty %}
            <h2>Não existem computadores pendentes para adição.</h2>
            <p>Para adicionar um computador você deve instalar o software cliente na máquina cliente.</p>
        {% endfor %}
        </div>
    
    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
