{% extends "base.html" %}

{% block headtags %}
<link rel="stylesheet" type="text/css" href="/media/css/restore.css" />
{% endblock %}

{% block page %}

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>{{title}}</h2>
	</div>

    <div class="block_content">
	<h2>Passo 2: Selecionar o procedimento</h2><br />
        <form action="/restore/step3/" id="step2_form" method="post">
			<p>
				<label>Computador:</label> {{computer.name}}
			</p>
			<p>
                <label for="procedure_id">Selecione o procedimento:</label>
                <select name="procedure_id" id="procedure_id" >
                    <option value=""> - Selecione - </option>
                    {% for procedure in computer.procedure_set.all %}
					{% if procedure.all_my_good_jobs|length == 1%}
                    <option value="{{procedure.id}}">{{procedure.name}} ({{procedure.all_my_good_jobs|length}} backup disponível)</option>
					{% else %}
                    <option value="{{procedure.id}}">{{procedure.name}} ({{procedure.all_my_good_jobs|length}} backups disponíveis)</option>
					{% endif %}
                    {% endfor %}
                </select>
            </p>
			<input type="hidden" name="computer_id" value="{{computer.id}}"></input>
			<div>
				<a href="/restore/step1/" class="css3button negative last_step"><span>Voltar ao passo 1: Escolher o computador</span></a>
				<button type="submit" class="css3button positive next_step" onClick="if ($('#step2_form')[0].procedure_id.value == '') {alert('Nenhum procedimento foi selecionado'); return false}">Passo 3 - Escolher o backup</button>
			</div>
        </form>
        
        <div class="clear"></div>
        <p></p>
    </div>
    
    <div class="bendl"></div>
	<div class="bendr"></div>

</div>

{% endblock %}
